
body {
    margin: 0;
    padding: 0;
    font: 15px 'Helvetica Neue';
    overflow-x: hidden;
    text-align: center;
}

.accountDiv {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;

}

.accountDiv > * {
    background-color: white;
    box-shadow: 0 40px 200px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    width: 35%;
}

h1 {
    font-size: 45px;
    margin-top: 10%;
}

.accountDiv input {
    border-radius: 14px;
    border: 3px solid rgb(255, 76, 76);
    padding: 15px;
    display: block;
    outline: none;
    width: 70%;
    transition: border 0.25s, border-radius 0.25s;
}

.accountDiv input:focus {
    border: 3px solid #9600FF;
    border-radius: 20px;
}

.registerDiv input {
    margin: 30px auto;
}

.loginDiv input {
    margin: 58px auto;
}

.accountDiv button {
    background: none;
    padding: 15px 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
    color: black;
    font-size: 18px;
    margin-bottom: 40px;
}

.accountDiv button[type="submit"]:hover {
    background: rgb(254, 78, 78);
    color: white;
}



.storiesFormDiv input:not(:focus):not(:placeholder-shown) {
    border: 3px solid blue;
}

@media screen and (max-width: 900px) {
    .accountDiv {
        flex-direction: column;
        align-items: center;
        gap: 80px;
        margin-top: 50px;
    }
    .accountDiv > * {
        width: 60%;
    }
    /* HAMBURGER MENU */
}

@media screen and (max-width: 650px) {
    .accountDiv > * {
        width: 80%;
    }
}